{% load cart_tag %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Total Length :: {{request.session.cart|length}}

    <h5>Cart Detail:</h5>

    {% for key,value in request.session.cart.items %}
    
    {{value.name}} {{value.price}} {{value.quantity}} {{value.image}} Total {{ value.price|multiply:value.quantity }}

    {% endfor %}
</body>
</html>